* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background-color: rgb(189, 189, 189);
}

h1,
h2,
h3 {
  color: black;
  font-weight: 600;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: 1.5rem;
  color: black;
}

.section__subtitle {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 400;
}

.button:hover {
  background-color: rgb(78, 78, 79);
}
.button__icon {
  margin-left: 0.5rem;
}
.button--flex {
  display: inline-block;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 380px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
